<%= form_with(model: noticium) do |form| %>
  <% if noticium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(noticium.errors.count, "error") %> evito que este form pudiera ser guardado:</h2>

      <ul>
        <% noticium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :title, placeholder:"Titulo", class:"form-control mb-1" %>
  </div>

  <div class="field">
    <%= form.text_field :lower, placeholder:"Bajada", class:"form-control mb-1" %>
  </div>

  <div class="field">
    <%= form.text_field :author, placeholder:"Autor", class:"form-control mb-1" %>
  </div>

  <div class="field">
    <%= form.text_area :body, placeholder:"Cuerpo", class:"form-control mb-1" %>
  </div>

  <div class="field">
    <%= form.text_area :image, placeholder:"Link Imagen", class:"form-control mb-3" %>
  </div>

  <div class="actions">
    <%= form.submit class:"btn btn-success btn-lg", value:"Enviar" %>
  </div>
<% end %>
