<%= image_tag "logo.png", class:"main-img" %>
<h1 class="title mb-4">News<span class="title">App</span></h1>

<div class="card-container mx-auto">
  <% @noticia.each do |noticium| %>
    <div class="card">
      <a href="/noticia/<%= noticium.id %>">
        <img src="<%= noticium.image %>" class="card-img-top" alt="<%= noticium.title %>">
        <div class="card-body">
          <h1 class="fs-5 heading mb-0"><%= noticium.title %></h1>
        </div>
      </a>
    </div>
  <% end %>
</div>