<div class="bg-dark mb-3"><img src="<%= @noticium.image %>" class="show-img"></div>

<div class="show-width text-center mx-auto">
  <h1 class="fs-1 mb-3 heading"><%= @noticium.title %></h1>
  <em><h2 class="fs-3 mb-3 lower"><%= @noticium.lower %></h2></em>
  <p class="author"><%= @noticium.author %>, <%= @noticium.created_at.in_time_zone('Santiago').strftime("%d/%m/%Y %H:%M:%S") %></p>
  <p class="body"><%= @noticium.body %></p>
</div>

<% if session[:user_id] %>
  <a href="<%= @noticium.id %>/edit" class="btn btn-outline-success">Edit</a>
<% end %>