<p id="notice"><%= notice %></p>

<p>
  <strong>New:</strong>
  <%= @noticium.new_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @noticium.title %>
</p>

<p>
  <strong>Lower:</strong>
  <%= @noticium.lower %>
</p>

<p>
  <strong>Author:</strong>
  <%= @noticium.author %>
</p>

<p>
  <strong>Text:</strong>
  <%= @noticium.text %>
</p>

<p>
  <strong>Image:</strong>
  <%= @noticium.image %>
</p>

<%= link_to 'Edit', edit_noticium_path(@noticium) %> |
<%= link_to 'Back', noticia_path %>
